*{
    margin: 0;
    padding: 0;
    
}



body{
    overflow-x: hidden;
    height: 3000px;
    background: rgb(234, 234, 245) !important; 
}


.parent-first{
    width: 100%;
    height: 50px;
    background-color: black;
    
}

.parent-first .right-place{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 40px;
}

.right-place ul li{
    padding-right: 30px;
}


/* gambar */


.content-picture{
    background-color: #c7e1f3;
    width: 100%;
    height: 500px;
    /* padding: 20px; */
    box-sizing: border-box;
    overflow: hidden;
}

.content-picture .row{
    align-items: center;
}

.content-picture .title-text-picture {
    padding: 2.7em;
}

.content-picture .title-text-picture h2{
    padding-bottom: 15px;
}


.content-picture .picture{
    /* position: relative;
    left: -30px;
    top: -70px; */
}


/* img shaddow layer */

.content-picture .picture .img-shaddow{
    background-image: url(img/bg-web5.png);
    width: 100%;
    height: 500px;
    position: relative;
    /* top: -5px; */
    /* background-position: -50px 0; */
    /* display: flex;
    justify-content: flex-end; */

    display: flex;
    align-items: center;
}


.content-picture .picture .img-shaddow img{
    position: absolute;
    right: -80px;
}

.img-shaddow .bg-oval{
    position: absolute;
    top: 20px;
    right: 50px;
    /* width: 55%;
    height: 80%; */
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: bisque;
}


/* responsive oval-bg */
/* insert code */
/* responsive oval-bg */

/* img shaddow layer */


.content-picture .picture .oval-background{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    /* margin-top: -1320px; */
    top: 95px;
    right: 100px;
    /* transform: translateX(450px); */
    position: absolute;
    /* z-index: 4; */

}

/* .content-picture .picture img{} */


/* This course */

.parent-first .this-course{
    margin-top: 100px;
}

.this-course .row .text-course{
    text-align: center;
    padding: 20px;
}

.this-course .row:nth-child(2) .text2{
    text-align: center;
}

.this-course .because .row{
    padding-bottom: 20px;
    /* width: 90%; */
}

.this-course .because .row .rata{
    display: flex;
    justify-content: end;
    
}


/* Boxx */


.this-course .because .box .box-top{
    width: 75%;
    /* height: 180px; */
    background-color: rgb(255, 255, 255);
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.this-course .because .box .box-top .text-top-icon{
    margin-top: -30px;
    text-align: center;
}

.this-course .because .box .box-bottom{
    width: 75%;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.this-course .because .box .box-bottom .text-top-icon{
    margin-top: -30px;
    text-align: center;
}



/* question chat */

.question-chat h3{
    padding: 20px;
}

.question-chat{
    margin-top: 150px;
    background-color: rgba(168, 191, 255, 0.4);
    width: 100%;
    /* height: 650px; */
}

.question-chat .text-question{
    display: flex;
    justify-content: center;
}

.question-chat .question-dialog{
    /* width: 65%; */
    height: 500px;
    /* background-color: cornflowerblue; */
    background-image: url(img/chat-dialog.png);
    background-size: cover;
    display: flex;
    align-items: center;
}


.answer-question {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.answer-question .half-circle {
    width: 400px; 
    height: 450px; 
    background-color: gold;
    border-top-left-radius: 110px;  
    border-top-right-radius: 110px; 
    border: 10px solid gray; 
    border-bottom: 0;
    transform: rotate(270deg) translateY(250px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* width: 500px;
    height: 500px;
    background-color: teal;
    border-radius: 50%; */
}


.question-chat .question-dialog .dialog-client{
    width: 65%;
    /* height: 65%; */
    /* border: 5px solid yellow; */
    /* margin-top: 10px; */
    margin-left: 50px;
    position: relative;
}

.question-chat .question-dialog .dialog-client .box-dialog1{
    position: relative;
    background-image: url(img/chat-man.png);
    width: 125px;
    height: 120px;
    background-size: cover;
}

.box-dialog1 .chat-oval1{
    width: 250px;
    /* height: 80px; */
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    left: 180px;
    top: 10px;
    border-radius: 6px;
}

.box-dialog2 .chat-oval2{
    width: 250px;
    /* height: 80px; */
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    right: 130px;
    top: 20px;
    border-radius: 6px;
}

.box-dialog3 .chat-oval3{
    width: 250px;
    /* height: 80px; */
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    left: 180px;
    top: 50px;
    border-radius: 6px;
}


.question-chat .question-dialog .dialog-client .right-dialog{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.question-chat .question-dialog .dialog-client .box-dialog2{
    position: relative;
    background-image: url(img/chat-man.png);
    width: 125px;
    height: 120px;
    background-size: cover;

}

.question-chat .question-dialog .dialog-client .box-dialog3{
    position: relative;
    background-image: url(img/chat-man.png);
    width: 125px;
    height: 120px;
    background-size: cover;
}

/* content people */
.content-people{
    margin: 150px;
}

.segitiga4{
    height:0px;
    width:0px;
    border-right:solid 50px lightskyblue;
    border-top:solid 35px transparent;
    border-bottom:solid 35px transparent;
    position: absolute;
    top: 0;
    left: -50px;
    
}

.people-say{
    width: 100%;
    /* height: 300px; */
    /* background-color: rgb(156, 216, 253); */
    background: rgba( 115, 172, 242, 0.35 );
    box-shadow: 0 5px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );




    position: relative;
    padding: 20xp;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 15px;
}


.people-say .coma-top{
    background-image: url(img/coma-top.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-left: -80px;
}

.people-say .coma-right .coma-bottom{
    background-image: url(img/coma-bottom.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    /* margin-right: 40px; */
    margin-top: -50px;
}

.people-say .coma-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.people-say .box-parent-say{
    padding: 20px;
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: 
                            "say1 say2"
                            "say3 say3"
                    ;
    gap: 50px;
    width: 100%;
    margin-top: -80px;
    /* grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); */
    justify-items: center;
}

.people-say .box-parent-say .box-say1{
    /* width: 180px; */
    /* height: 200px; */
    /* background-color: lightyellow; */
    background: rgba( 115, 172, 242, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );


    grid-area: say1;
    padding: 15px;
}

.people-say .box-parent-say .box-say1 .account-human{
    width: 100%;
    display: flex;
    justify-content: center;
}

.people-say .box-parent-say .box-say1 .account-human .img-human1{
    background-image: url(img/chat-man.png);
    width: 120px;
    height: 100px;
    background-size: cover;
}

.people-say .box-parent-say .box-say2 .account-human{
    width: 100%;
    display: flex;
    justify-content: center;
}

.people-say .box-parent-say .box-say2 .account-human .img-human2{
    background-image: url(img/chat-man.png);
    width: 120px;
    height: 100px;
    background-size: cover;
}

.people-say .box-parent-say .box-say3 .account-human{
    width: 100%;
    display: flex;
    justify-content: center;
}

.people-say .box-parent-say .box-say3 .account-human .img-human3{
    background-image: url(img/chat-man.png);
    width: 120px;
    height: 100px;
    background-size: cover;
}



.people-say .box-parent-say .box-say2{
    /* width: 180px; */
    /* height: 200px; */
    /* background-color: rgb(224, 224, 95); */
    background: rgba( 245, 166, 35, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );



    grid-area: say2;
    padding: 15px;
}

.people-say .box-parent-say .box-say3{
    width: 80%;

    background: rgba( 248, 0, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 15px;
    grid-area: say3;
    /* align-items: center; */

}




/* client interview responsive */

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .question-chat .question-dialog{
        width: 105%;
        transform: translateX(-50px);
    }

    html{
        width: 100%;
        overflow-y: scroll;
    }


    body{
        overflow: hidden;
        width: 100%;
        
        
    }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 992.80px){

    html{
        overflow-x: hidden;
    }

    body{
        overflow-x: hidden;
        /* width: 100%; */
        height: 3200px;
    }

    .question-chat .question-dialog .dialog-client .box-dialog1{
        width: 110px;
        height: 100px;
        top: -50px;
    }

    .question-chat .question-dialog .dialog-client .box-dialog2{
        width: 110px;
        height: 100px;
        top: -8px;
    }

    .question-chat .question-dialog .dialog-client .box-dialog3{
        width: 110px;
        height: 100px;
        top: 45px;
    }

    .box-dialog1 .chat-oval1{
        left: 150px;
    }

    .box-dialog2 .chat-oval2{
        /* top: -5px; */
    }

    .box-dialog3 .chat-oval3{
        top: 20px;
    }


    .question-chat .question-dialog{
        width: 140%;
        transform: translateX(-80px);
    }

    .parent-first nav{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 5;
    }

    .parent-first .right-place{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-right: 40px;
        
    }

    .this-course .because .box .box-top{
        width: 87%;
    }

    .this-course .because .box .box-bottom{
        width: 87%;
    }

    .this-course .row .image-mid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .this-course .row .image-mid img{
        width: 300px;
    }


}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    


    html{
        overflow-y: scroll;
        /* height: 3500px; */
    }

    body{
        overflow: hidden;
        height: 3800px;
    }

    .question-chat .question-dialog .dialog-client{
        /* height: 100%;
        width: 100%; */
    }

    .question{
        /* width: 300px; */
        margin: auto;
    }

    /* .nice-question{
        height: 200px;
        background-color: red;
        width: 200px;
        margin: auto;
    } */


    .this-course .because .box .box-top{
        width: 100%;
    }
    
    .this-course .because .box .box-bottom{
        width: 100%;
    }

    .this-course .row .image-mid img{
        width: 210px;
    }
    
    .content-picture .picture .img-shaddow img{
        right: -50px;
        top: 70px;
    }

    .content-people{
        margin: auto;
        width: 75%;
        margin-top: 200px;

    }


    .people-say .coma-top{
        width: 150px;
        height: 150px;
        margin-left: -70px;
    }


    .people-say .box-parent-say{
        margin-top: -35px;
    }

    .people-say .coma-right .coma-bottom{
        width: 150px;
        height: 150px;
    }

}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    html{
        /* overflow-x: scroll; */
    }

    body{
        overflow-x: hidden;
        /* width: 100%; */
        height: 4600px;
    }



    .this-course .row .image-mid img{
        width: 100%;
    }

    .this-course .because .box .box-top{
        /* padding: 50px; */
        margin-bottom: 30px;
        
    }

    .this-course .because .box .box-bottom{
        /* padding: 50px; */
        margin-bottom: 30px;
    }


    .parent-first .picture-parent{
        height: 450px;
    }

    .content-picture{
        height: 450px;
    }

    .content-picture .img-shaddow{
        position: absolute;
        top: -320px;
        
    }

    .content-picture .img-shaddow img{
        display: none;
    }

    .title-text-picture{
        margin-top: 50px;
        position: absolute;
        z-index: 2;
    }

    .because{
        margin-top: 80px;
    }

    .box{
        /* width: 450px; */
        width: 100%;
        margin: auto;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .question-chat .question-dialog{
        transform: translateX(-20px);
    }

    .question-chat .question-dialog .dialog-client{
        margin-left: 40px;
    }

    .question-chat .question-dialog .dialog-client .box-dialog1{
        width: 130px;
        height: 90px;
    }

    .box-dialog1 .chat-oval1{
        width: 225px;
        height: 90px;
        top: 10px;
        left: 130px;
    }


    .question-chat .question-dialog .dialog-client .box-dialog2{
        width: 130px;
        height: 90px;
    }

    .box-dialog2 .chat-oval2{
        width: 225px;
        height: 90px;
    }


    .question-chat .question-dialog .dialog-client .box-dialog3{
        width: 130px;
        height: 90px;
    }

    .box-dialog3 .chat-oval3{
        left: 130px;
        width: 225px;
        height: 90px;
    }

    .content-people{
        margin: auto;
        margin-top: 150px;
    }

    .people-say .box-parent-say{
        display: flex;
        flex-wrap: wrap;
    }

    .people-say{
        /* margin: auto; */
        /* width: 80% !important; */
    }

}


@media (max-width: 410.92px) {

    html{
        overflow-x: hidden;
    }

    body{
        height: 5500px;
    }

    .box{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .content-picture .picture .img-shaddow{
        height: 400px;
        margin-top: -50px;
    }

    .question-chat .question-dialog{
        height: 550px;
    }
    
    .question-chat .question-dialog .dialog-client .box-dialog1{
        margin-left: -50px;
    }

    .box-dialog1 .chat-oval1{
        width: 215px;
        /* height: 115px; */
    }

    .question-chat .question-dialog .dialog-client .right-dialog{
        margin-left: 50px;
    }

    .question-chat .question-dialog .dialog-client .box-dialog2{
        left: -10px;
    }

    .box-dialog2 .chat-oval2{
        right: 120px;
    }

    .question-chat .question-dialog .dialog-client .box-dialog3{
        left: -50px;
    }

    .box-dialog3 .chat-oval3{
        width: 210px;
        height: 115px;
    }


    .content-people{
        margin-top: 180px;
    }

}

/* client interview responsive */











